@font-face {
  font-family: AvenirNext;
  src: url(./assets/fonts/AvenirNext-Regular.ttf);
}

body {
  font-family: AvenirNext;
  background-color: rgb(98, 191, 235);
}

input{
  padding-left:10px;
  border-radius: 10px;
  height: 20px;
}

button{
  border-radius: 3px;
  background-color: #fff05a;
  margin: 5px;
  padding: 8px 22px 10px;
  color:#414141;
}

h1 {
  margin: 0.1rem;
}

.item {
  margin-left:30px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;

}
